/* white
#e3cebd
#c1a2a0
#725b75
#322030
*/

body {
    background-color: rgba(0, 0, 0, 0.9);
}

* {
    text-align: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff
}



